#titulo1 {
    background-color: red;
    color: beige;
}
#titulo2 {
    background-color: blue;
    color: greenyellow; 

}

.padauk-regular {
    font-family: "Padauk", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .padauk-bold {
    font-family: "Padauk", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
a:visited {
 color: red;
}

.titulo:hover {
  background-color: skyblue;
    color: orange;
    font-size: 40px;
}